/*========================================================*/
/*======================= HEADER =========================*/
/*========================================================*/
/*======== NAVBAR =========*/
#nav_logo {
    height: 100px;
    width: 200px;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.7);
}
.navbar-brand {
    margin-left: 50px!important;
}
.navbar-nav {
    width: 100%!important;
    text-align: center!important;
    display: block!important;
}
.nav-item {
    display: inline-block!important;
}
.nav-link {
    padding-left: 35px!important;
    padding-right: 35px!important;
    color: white!important;
}
@media (min-width: 100px) and (max-width: 390px){
    .navbar-brand {
        margin-left: 0px!important;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .nav-link {
        padding-left: 25px!important;
        padding-right: 25px!important;
    }
}
/*=========================*/

/*========================================================*/
/*======================== MAIN ==========================*/
/*========================================================*/
a {
    color: white;
}
.spanColor {
    color: white;
    position: relative;
    top: 97px;
}
#box1 {
    background-image: url(./images/types/terrenos_chacras.png);
    background-position: center;
    background-size: cover;
}
#box2 {
    background-image: url(./images/types/casas.png);
    background-position: center;
    background-size: cover;
}
#box3 {
    background-image: url(./images/types/departamentos.jpg);
    background-position: center;
    background-size: cover;
}
#box4 {
    background-image: url(./images/types/locales_comerciales.jpg);
    background-position: center;
    background-size: cover;
}

@media (min-width: 100px) and (max-width: 390px){
    #carouselIntro {
        width: 100%;
        height: 500px;
    }
    .carousel-item {
        text-align: center;
        height: 500px;
        width: 100%;
    }
    #intro_img1 {
        height: 500px;
        width: 1092px;
    }
    #boxer_content {
        height: 850px;
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .boxes {
        height: 350px;
        width: 100%;
        margin-bottom: 15px;
    }
    .boxcont {
        height: 157px;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 25px;
        float: left;
        text-align: center;
    }
    .text_property {
        height: 157px;
        position: relative;
        font-size: 15px;
        width: 100%;
        background-color: rgb(0, 0, 0, 0.3);
    }
}
@media (min-width: 391px) and (max-width: 575px){
    #carouselIntro {
        width: 100%;
        height: 500px;
    }
    .carousel-item {
        text-align: center;
        height: 500px;
        width: 100%;
    }
    #intro_img1 {
        height: 500px;
        width: 1092px;
    }
    #boxer_content {
        height: 850px;
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .boxes {
        height: 350px;
        width: 100%;
        margin-bottom: 15px;
    }
    .boxcont {
        height: 157px;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 25px;
        float: left;
        text-align: center;
    }
    .text_property {
        height: 157px;
        position: relative;
        font-size: 15px;
        width: 100%;
        background-color: rgb(0, 0, 0, 0.3);
    }
}
@media (min-width: 576px) and (max-width: 767px){
    #carouselIntro {
        width: 100%;
        height: 500px;
    }
    .carousel-item {
        text-align: center;
        height: 500px;
        width: 100%;
    }
    #intro_img1 {
        height: 500px;
        width: 1092px;
    }
    #boxer_content {
        height: 850px;
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .boxes {
        height: 350px;
        width: 100%;
        margin-bottom: 15px;
    }
    .boxcont {
        height: 157px;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 25px;
        float: left;
        text-align: center;
    }
    .text_property {
        height: 157px;
        position: relative;
        font-size: 15px;
        width: 100%;
        background-color: rgb(0, 0, 0, 0.3);
    }
}
@media (min-width: 768px) and (max-width: 991px){
    #carouselIntro {
        width: 100%;
        height: 500px;
        margin-top: 30px;
    }
    .carousel-item {
        text-align: center;
        height: 500px;
        width: 100%;
    }
    #intro_img1 {
        height: 500px;
        width: 1092px;
    }
    #boxer_content {
        height: 850px;
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .boxes {
        height: 350px;
        width: 100%;
        margin-bottom: 15px;
    }
    .boxcont {
        height: 157px;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 25px;
        float: left;
        text-align: center;
    }
    .text_property {
        height: 157px;
        position: relative;
        font-size: 15px;
        width: 100%;
        background-color: rgb(0, 0, 0, 0.3);
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    #carouselIntro {
        width: 85%;
        height: 333px;
        margin-top: 10px;
        margin-left: 7.5%;
    }
    .carousel-item {
        text-align: center;
        height: 333px;
        width: 100%;
    }
    #intro_img1 {
        height: 333px;
        width: 1092px;
    }
    .boxcont {
        height: 150px;
        width: 40%;
        float: left;
        background-color: rgb(199, 199, 199);
        margin-left: 6.5%;
    }
    .boxes {
        height: 150px;
        width: 50%;
        float: left;
    }
    #boxer_content {
        height: 850px;
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .boxes {
        height: 350px;
        width: 100%;
        margin-bottom: 15px;
    }
    .boxcont {
        height: 157px;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 25px;
        float: left;
        text-align: center;
    }
    .text_property {
        height: 157px;
        position: relative;
        font-size: 15px;
        width: 100%;
        background-color: rgb(0, 0, 0, 0.3);
    }
}
@media (min-width: 1200px) and (max-width: 1599px){
    #carouselIntro {
        width: 80%;
        height: 333px;
        margin-top: 10px;
        margin-left: 10%;
        background-color: indianred;
    }
    .carousel-item {
        text-align: center;
        height: 333px;
        width: 100%;
        background-color: rgb(147, 205, 92);
    }
    #intro_img1 {
        height: 333px;
        width: 1092px;
    }
    #boxer_content {
        height: 850px;
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .boxes {
        height: 350px;
        width: 100%;
        margin-bottom: 15px;
    }
    .boxcont {
        height: 157px;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 25px;
        float: left;
        text-align: center;
    }
    .text_property {
        height: 157px;
        position: relative;
        font-size: 15px;
        width: 100%;
        background-color: rgb(0, 0, 0, 0.3);
    }
}
@media (min-width: 1600px) and (max-width: 1999px){
    .nav-link {
        font-size: 20px;
    }
    #carouselIntro {
        width: 87%;
        height: 500px;
        margin-top: 50px;
        margin-left: 6.5%;
    }
    .carousel-item {
        text-align: center;
        height: 500px;
        width: 100%;
    }
    #intro_img1 {
        height: 500px;
        width: 1638px;
    }
    #boxer_content {
        position: relative;
        top: 50px;
    }
    #boxer_content {
        height: 500px;
        width: 100%;
        margin-bottom: 5%;
        background-color: rgba(0, 0, 0, 0.7);
    }
    #box_cont_text {
        width: 40%;
        height: 500px;
        float: left;
    }
    #title_links {
        color: white;
        width: 80%;
        padding: 20px;
        margin-left: 10%;
        position: relative;
        top: 100px;
        font-size: 45px;
        font-weight: bolder;
    }
    #text_links {
        color: white;
        font-size: 30px;
        font-weight: bold;
        background-color: rgb(5, 151, 115);
        position: relative;
        top: 105px;
        padding-left: 25px;
        padding-top: 15px;
        padding-bottom: 15px;
        left: 13%;
        width: 65%;
    }
    #box_cont_links {
        width: 60%;
        height: 500px;
        float: left;
        background-color: rgb(211, 211, 211);
    }
    .boxes {
        height: 225px;
        width: 90%;
        position: relative;
        top: 27px;
        margin-left: 10%;
    }
    .boxcont {
        height: 207px;
        width: 35%;
        position: relative;
        margin-left: 10%;
        margin-bottom: 25px;
        float: left;
        text-align: center;
    }
    .text_property {
        height: 207px;
        position: relative;
        font-size: 23px;
        width: 100%;
        background-color: rgb(0, 0, 0, 0.3);
    }
}
#Foot_Content {
    height: 500px;
    width: 100%;
    background-color: gray;
    margin-bottom: 5%;
}
/*=========================*/

/*========================================================*/
/*======================= FOOTER =========================*/
/*========================================================*/
#FootMenu {
    border-top: 2px black solid;
    position: relative;
    bottom: 0%;
    height: 70px;
    width: 100%;
}
.foot_link {
    width: 33%;
    height: 70px;
    float: left;
    margin-left: 0.3%;
    padding-top: 25px;
    font-size: 15px;
    background-color: palegreen;
}
#foot_1 {
    text-align: left;
    padding-left: 30px;
}
#foot_2 {
    text-align: center;
}
#foot_3 {
    text-align: right;
    padding-right: 30px;
}
#FootLine {
    position: relative;
    bottom: 0%;
    width: 100%;
    height: 15px;
    background-color: rgb(110, 110, 110);
}

@media (min-width: 100px) and (max-width: 390px){
    #foot_1, #foot_3 {
        display: none;
    }
    #foot_2 {
        width: 100%;
        padding-top: 15px;
        font-size: 13px;
        font-weight: bold;
    }
}
@media (min-width: 391px) and (max-width: 575px){
    #foot_1, #foot_3 {
        display: none;
    }
    #foot_2 {
        width: 100%;
        padding-top: 15px;
        font-size: 13px;
        font-weight: bold;
    }
}



