/*========================================================*/
/*======================= HEADER =========================*/
/*========================================================*/
/*======== NAVBAR =========*/
#nav_logo {
    height: 100px;
    width: 200px;
}
.navbar-brand {
    margin-left: 50px!important;
}
.navbar-nav {
    width: 100%!important;
    text-align: center!important;
    display: block!important;
}
.nav-item {
    display: inline-block!important;
}
.nav-link {
    padding-left: 35px!important;
    padding-right: 35px!important;
}
@media (min-width: 100px) and (max-width: 390px){
    .navbar-brand {
        margin-left: 0px!important;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .nav-link {
        padding-left: 25px!important;
        padding-right: 25px!important;
    }
}
/*=========================*/

/*========================================================*/
/*======================== MAIN ==========================*/
/*========================================================*/
a {
    color: white;
}

#boxer_content {
    width: 100%;
}
#boxer_content {
    height: 220px;
    position: relative;
    top: 20px;
    text-align: center;
    margin-bottom: 10%;
}
.boxcont {
    height: 100px;
    width: 48%;
    float: left;
    background-color: rgb(177, 177, 177);
    margin-left: 1%;
}
.boxes {
    height: 110px;
    width: 100%;
    text-align: center;
}
@media (min-width: 100px) and (max-width: 390px){
    #carouselIntro {
        width: 100%;
        height: 500px;
    }
    .carousel-item {
        text-align: center;
        height: 500px;
        width: 100%;
    }
    #intro_img1 {
        height: 500px;
        width: 1092px;
    }
}
@media (min-width: 391px) and (max-width: 575px){
    #carouselIntro {
        width: 100%;
        height: 500px;
    }
    .carousel-item {
        text-align: center;
        height: 500px;
        width: 100%;
    }
    #intro_img1 {
        height: 500px;
        width: 1092px;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    #carouselIntro {
        width: 100%;
        height: 500px;
    }
    .carousel-item {
        text-align: center;
        height: 500px;
        width: 100%;
    }
    #intro_img1 {
        height: 500px;
        width: 1092px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    #carouselIntro {
        width: 100%;
        height: 500px;
        margin-top: 30px;
    }
    .carousel-item {
        text-align: center;
        height: 500px;
        width: 100%;
    }
    #intro_img1 {
        height: 500px;
        width: 1092px;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    #carouselIntro {
        width: 85%;
        height: 333px;
        margin-top: 10px;
        margin-left: 7.5%;
    }
    .carousel-item {
        text-align: center;
        height: 333px;
        width: 100%;
    }
    #intro_img1 {
        height: 333px;
        width: 1092px;
    }
    .boxcont {
        height: 150px;
        width: 40%;
        float: left;
        background-color: rgb(199, 199, 199);
        margin-left: 6.5%;
    }
    .boxes {
        height: 150px;
        width: 50%;
        float: left;
    }
}
@media (min-width: 1200px) and (max-width: 1599px){
    #carouselIntro {
        width: 80%;
        height: 333px;
        margin-top: 10px;
        margin-left: 10%;
        background-color: indianred;
    }
    .carousel-item {
        text-align: center;
        height: 333px;
        width: 100%;
        background-color: rgb(147, 205, 92);
    }
    #intro_img1 {
        height: 333px;
        width: 1092px;
    }
    .boxcont {
        height: 150px;
        width: 40%;
        float: left;
        background-color: rgb(185, 185, 185);
        margin-left: 6.5%;
    }
    .boxes {
        height: 150px;
        width: 50%;
        float: left;
    }
}
@media (min-width: 1600px) and (max-width: 1999px){
    #carouselIntro {
        width: 87%;
        height: 500px;
        margin-top: 50px;
        margin-left: 6.5%;
    }
    .carousel-item {
        text-align: center;
        height: 500px;
        width: 100%;
    }
    #intro_img1 {
        height: 500px;
        width: 1638px;
    }
    #boxer_content {
        position: relative;
        top: 50px;
    }
    .boxcont {
        height: 200px;
        width: 45%;
        float: left;
        background-color: rgb(153, 153, 153);
        margin-left: 3.5%;
    }
    .boxes {
        height: 200px;
        width: 50%;
        float: left;
    }
}
#Foot_Content {
    height: 500px;
    width: 100%;
    background-color: gray;
    margin-bottom: 5%;
}
/*=========================*/

/*========================================================*/
/*======================= FOOTER =========================*/
/*========================================================*/
#FootMenu {
    border-top: 2px black solid;
    position: relative;
    bottom: 0%;
    height: 70px;
    width: 100%;
}
.foot_link {
    width: 33%;
    height: 70px;
    float: left;
    margin-left: 0.3%;
    padding-top: 25px;
    font-size: 15px;
    background-color: palegreen;
}
#foot_1 {
    text-align: left;
    padding-left: 30px;
}
#foot_2 {
    text-align: center;
}
#foot_3 {
    text-align: right;
    padding-right: 30px;
}
#FootLine {
    position: relative;
    bottom: 0%;
    width: 100%;
    height: 15px;
    background-color: rgb(110, 110, 110);
}

@media (min-width: 100px) and (max-width: 390px){
    #foot_1, #foot_3 {
        display: none;
    }
    #foot_2 {
        width: 100%;
        padding-top: 15px;
        font-size: 13px;
        font-weight: bold;
    }
}
@media (min-width: 391px) and (max-width: 575px){
    #foot_1, #foot_3 {
        display: none;
    }
    #foot_2 {
        width: 100%;
        padding-top: 15px;
        font-size: 13px;
        font-weight: bold;
    }
}



